<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/admin.css') }}">

</head>

<body>

<header>
    <h1>Painel Administrativo</h1>
</header>

<div class="container">

    <table>

        <thead>
            <tr>
                <th>Título</th>
                <th>Categoria</th>
                <th>Local</th>
                <th>Status</th>
                <th>Atualizar</th>
                <th>Excluir</th>
            </tr>
        </thead>

        <tbody>

        {% for r in reclamacoes %}

            <tr>

                <td>

                    <span class="titulo">
                        {{ r.titulo }}
                    </span>

                    <div class="descricao">
                        {{ r.descricao }}
                    </div>

                </td>

                <td>
                    {{ r.categoria }}
                </td>

                <td>
                    {{ r.local }}
                </td>

                <td class="status">
                    {{ r.status }}
                </td>

                <td>

                    <form class="status-form"
                          action="/status/{{ r.id }}"
                          method="POST">

                        <select name="status">

                            <option {% if r.status=="Aberta" %}selected{% endif %}>Aberta</option>

                            <option {% if r.status=="Em análise" %}selected{% endif %}>Em análise</option>

                            <option {% if r.status=="Em andamento" %}selected{% endif %}>Em andamento</option>

                            <option {% if r.status=="Resolvida" %}selected{% endif %}>Resolvida</option>

                        </select>

                        <button type="submit">
                            Salvar
                        </button>

                    </form>

                </td>

                <td>

                    <a class="excluir"
                       href="/excluir/{{ r.id }}">
                        Excluir
                    </a>

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    <a class="voltar" href="/">
        ← Voltar ao site
    </a>

</div>

</body>

</html>
